* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
  background-color: aqua;

  .top {
    width: calc(100% - 40px);
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    figure {
      img {
        width: 10rem;
      }
    }
    hr {
      display: none;
    }
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        font-size: 18px;
        font-weight: 700;

        a {
          text-decoration: none;
          color: white;
          text-shadow: 1px 1px 1px black;
        }

        a:hover {
          background-color: rgba(255, 255, 255, 0.954);
          color: black;
          text-shadow: 1px 1px 10px white;

          padding: 5px 10px;
          border-radius: 1rem;
        }
      }
    }
  }
}
main {
  width: 100%;

  .banner {
    background-image: url("img/recepcao.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    
    display: flex;
    align-items: center;
    
    .banner-info {
      width: calc(100% - 40px);
      max-width: 1024px;
      margin: 0 auto;
      text-align: justify;

      
      h1 {
        color: white;
        text-shadow: 1px 1px 5px black;
      }
    }


  }
  .default {
    width: calc(100% - 40px);
    max-width: 1024px;
    margin: 20px auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    color: gray;
  }
  .sobre-clinica {
    margin: 0 auto;
    text-align: center;

    article {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .lista {
        margin: 10px auto;
        text-align: justify;
      }
    }
  }
  .multi {
    text-align: center;
    padding: 20px;
    
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      margin: 10px auto;

      .card {
        box-shadow: 1px 1px 10px 5px;
        flex: 1 1 auto;

        figure {
          img {
            height: 200px;
            max-height: 400px;
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 470px) {
  header {
    width: 100%;

    .top {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.5rem;

      figure {
        margin: 0 auto;
      }
      .line {
        display: block;
        flex: 1 1 auto;
        width: 90%;
        background-color: black;
        height: 1px;
      }
      nav {
        padding-bottom: 1rem;
      }
    }
  }
  .sobre-clinica {
    img {
      display: none;
    }
    .lista {
      width: 100%;
    }
  }
  .cards {
    flex-direction: column;
  }
}

/* @media (max-width: 720px) and (min-width: 471px) {
  .multi {
    .cards {
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
    }
    card {
      width: 100%;
    }
  }
}
*/
